{% extends 'base_generic.html' %}
{% block content %} 
<center>
<form method="post">
    <h1 style="color:orange"><center>Booking Form</center></h1> 
{% csrf_token %}

     <fieldset id="available_times">
        <label for="fruit" style="font-size:20px"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;Available Time</label>
            <div class="col-1-3 col-1-3-sm">
              <div class="controls">
                <i class="fa fa-sort"></i>
                <input type="date" name="appointment_date">
                <select name="start_time" class="floatLabel">
                  <option name="start_time" id="start_time" value="9:00">09:00 - 10:30</option>
                  <option name="start_time"  id="start_time" value="10:30" selected="">10:30 - 12:00</option>
                  <option name="start_time"  id="start_time" value="12:00">12:00 - 13:30</option>
                  <option name="start_time"  id="start_time" value="13:30">13:30 - 15:00</option>
                  <option name="start_time"  id="start_time" value="15:00">15:00 - 16:30</option>
                  <option name="start_time"  id="start_time" value="16:30">16:30 - 18:00</option>
                  <option name="start_time"  id="start_time" value="18:00">18:00 - 19:30</option>
                  <option name="start_time"  id="start_time" value="19:30">19:30 - 21:00</option>
                </select>
              </div>
            </div>
        </fieldset>

        <label style="font-size:20px">&nbsp;&nbsp;Your dog(s)</label>
        <fieldset id="dogs">
        {% for dog in dogs %}
        <input type="radio" value="{{ dog.pk }}" name="dog_id" id="dog">
        <label for="dog">{{ dog.name }}</label>
        {% endfor %}
    </fieldset>


        <label style="font-size:20px">&nbsp;&nbsp;Services Provided</label>
    <fieldset id="dogs">
        {% for service in services %}
        <input type="checkbox" value="{{ service.pk }}" name="service_id" id="service">
        <label for="service">{{ service.name }} {{ service.price }}</label>
        {% endfor %}
    </fieldset>

          <label style="font-size:20px">&nbsp;&nbsp;Comments</label>
          <br>
          <textarea name="comments" class="floatLabel" id="comments"style="width: 650px; height: 227px;"></textarea>
          <br>
        <button style="width:260px;height:50px;border-radius:6px" type="submit">Book Now!</button>
</form>
</center>
{% endblock %}
