{% extends "base_generic.html" %}

{% block content %}
<h1>Dog Lovers</h1>
{% load static %}
    <img src="{% static 'images/dog.jpg' %}" alt="dog-grooming" style="width:555px;height:540px;"/>
  <p>Welcome to <em>Dog Lovers</em>, You can book dog grooming services for your beloved dogs!</p>

<h2>Here are some of the services we offer:</h2>

  <ul>
    {%  if services %}
  <ul>
  {% for service in services %}
    <li><em>{{ service.name }}</em></li>
  {% endfor %}
  </ul>
{% endif %}
  </ul>

{% endblock %}