{% extends 'base_generic.html' %}

{% block content %}
  <h2>Here is the list of all your appointments:</h2>
    <ul>
        {% for appointment in appointments %}

            <li> For {{ appointment.dog.name }} at: {{ appointment.start_time }}  {{ profile.address }}</li>
        {% endfor %}
    </ul>


    <h2>Your dogs:</h2>
    <ul>
        {% for dog in dogs %}

            <li>  {{ dog.name }}, born {{ dog.birth_date }} with breed  {{ dog.breed }}</li>
        {% endfor %}
    </ul>
    <h2>Add dog:</h2>
      <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Add the fluffy!</button>
  </form>

    <h2>Your current address:</h2>
    <p>{{ request.user.profile.address }}</p>
    <h2>Your user name:</h2>
    <p>{{ request.user.username }}</p>
    <h2>Your home phone:</h2>
    <p>{{ request.user.profile.home_phone }}</p>
    <h2>Your work phone:</h2>
    <p>{{ request.user.profile.work_phone }}</p>


{% endblock %}