{% extends 'base_generic.html' %}

{% block content %}
  <h2>Here is the list of all your appointments:</h2>
    <ul>
        {% for appointment in appointments %}

            <li> For {{ appointment.dog.name }} at: {{ appointment.start_time }}  {{ profile.address }}</li>
        {% endfor %}
    </ul>


    <h2>Your dogs:</h2>
    <ul>
        {% for dog in dogs %}

            <li>  {{ dog.name }}, born {{ dog.birth_data }} with breed  {{ dog.breed }}</li>
        {% endfor %}
    </ul>

    <h2>Your current address:</h2>
    <p>{{ request.user.profile.address }}</p>
    <h2>Your user name:</h2>
    <p>{{ request.user.username }}</p>
    <h2>Your home phone:</h2>
    <p>{{ request.user.profile.home_phone }}</p>
    <h2>Your work phone:</h2>
    <p>{{ request.user.profile.work_phone }}</p>


{% endblock %}