{% extends 'base_generic.html' %}

{% block content %} {% if appointments %}
  <h2>Here is the list of all your appointments:</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Appointment Datetime</th>
        <th>Appointment Place</th>
      </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
            <td><strong> {{ appointment.dog.name }} </strong></td>
            <td> {{ appointment.start_time }} </td> <td> {{ dog.breed }} </td>
            <td><a href="{%  url 'delete_dog' dog.pk %}">remove</a></td>
            </tr>

        {% endfor %}

            <li> For {{ appointment.dog.name }} at: {{ appointment.start_time }}  {{ profile.address }}  <a href="{%  url 'delete_appointment' appointment.pk %}">cancel</a>  </li>

    </tbody>
    </table>
    {% endif %}

    {% if dogs %}
    <h2>Your dogs:</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Born Date</th>
        <th>Breed</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
        {% for dog in dogs %}
            <tr>
            <td><strong> {{ dog.name }} </strong></td>
            <td> {{ dog.birth_date }} </td>
            <td> {{ dog.breed }} </td>
            <td><a href="{%  url 'delete_dog' dog.pk %}">remove</a></td>
            </tr>

        {% endfor %}
    </tbody>
    </table>
    {% endif %}


    <h2>Add dog:</h2>
      <form method="post">
        {% csrf_token %}
{#    {% for field in form %}#}
{#      <p>#}
{#        {{ field.label_tag }}<br>#}
{#        {{ field }}#}
{##}
{#        {% for error in field.errors %}#}
{#          <p style="color: red">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </p>#}
{#    {% endfor %}#}
            <input style="width: 30%;" type="name" class="form-control" name="name" aria-describedby="dogNameHelp" placeholder="Enter Dog's Name">
            <input style="width: 30%;" type="text" class="form-control" name="breed" aria-describedby="breedHelp" placeholder="Enter Dog's Breed">
            <input style="width: 30%;" type="date" class="form-control" name="birth_date" aria-describedby="birthdayHelp" placeholder="Enter Dog's Birthday">


    <button type="submit">Add Dog</button>
  </form>

    <h2>Your current address:</h2>
    <p>{{ request.user.profile.address }}</p>
    <h2>Your name:</h2>
    <p>{{ request.user.profile.full_name }}</p>
    <h2>Your phone:</h2>
    <p>{{ request.user.profile.phone }}</p>
    {% if dogs %}
    <a href="{% url 'booking' %}"> Add appointment </a>
    {% else %}
        <p><b>Please add a dog to book an appointment!</b></p>
    {% endif %}

{% endblock %}
