{% extends 'base_generic.html' %}

{% block content %}
    {% if appointments %}
  <h2>Here is the list of all your appointments:</h2>
    <ul>
        {% for appointment in appointments %}

            <li> For {{ appointment.dog.name }} at: {{ appointment.start_time }}  {{ profile.address }}  <a href="{%  url 'delete_appointment' appointment.pk %}">cancel</a>  </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if dogs %}
    <h2>Your dogs:</h2>
    <ul>
        {% for dog in dogs %}

            <li>  {{ dog.name }}, born {{ dog.birth_date }} with breed  {{ dog.breed }} <a href="{%  url 'delete_dog' dog.pk %}">remove</a></li>
        {% endfor %}
    </ul>
    {% endif %}


    <h2>Add dog:</h2>
      <form method="post">
        {% csrf_token %}
{#    {% for field in form %}#}
{#      <p>#}
{#        {{ field.label_tag }}<br>#}
{#        {{ field }}#}
{##}
{#        {% for error in field.errors %}#}
{#          <p style="color: red">{{ error }}</p>#}
{#        {% endfor %}#}
{#      </p>#}
{#    {% endfor %}#}
          <input type="name" name="name">
          <input type="text" name="breed">
          <input type="date" name="birth_date">


    <button type="submit">Add the fluffy!</button>
  </form>

    <h2>Your current address:</h2>
    <p>{{ request.user.profile.address }}</p>
    <h2>Your name:</h2>
    <p>{{ request.user.profile.full_name }}</p>
    <h2>Your phone:</h2>
    <p>{{ request.user.profile.phone }}</p>
    {% if dogs %}
    <a href="{% url 'booking' %}"> Add appointment </a>
    {% else %}
        <p><b>Please add a dog to book an appointment!</b></p>
    {% endif %}

{% endblock %}